.menu{
	height: 30px;
	width: 5%;
	margin-top: 1%;
	margin-bottom: 50px;
	margin-right: 80%;
	font-family: 'Noto Sans', sans-serif;
	position: fixed;
	top: 0;
	text-align: left;
}
		.JX-container{
		}
				.menu-JX{
					display:block;
					width: 100%;
					hover: pointer;
					margin-left: 10%;
				}
				.JX-animation{
					display:inline-block;
				}
						.JX-container, .JX-animation{
							transition: .5s;
						}
						.JX-container:hover .JX-animation{
						    margin-bottom: 30%;
						}
		.A-container{
		}
				.menu-about{
					display:block;
					width: 80%;
					hover: pointer;
					margin-left: 10%;
				}
				.A-animation{
					display:inline-block;
				}
						.A-container, .A-animation{
							transition: .5s;
						}
						.A-container:hover .A-animation{
						    margin-bottom: 30%;
						}
		.menu-contact{
			display:block;
			width: 80%;
			hover: pointer;
			margin-left: 10%;
			margin-top: 10%;
		}

.header{
	display: inline-block;
	font-family: 'Noto Sans', sans-serif;
	font-size: 48px;
	font-weight: bold;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: auto;
}

.subheader{
	display: block;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	margin-left: 10%;
	margin-right: auto;
	margin-bottom: 1%;
	font-style: italic;
}

.description{
	font-family: 'Noto Sans', sans-serif;
	background-color: white;
	max-width: 80%;
	padding: 5%;
	margin: auto;
	margin-bottom: 5%;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

	.description p{
		font-size: 15px;
		margin-right: 5%;
		margin-left: 2.5%;
		padding-left: 2.5%;
	}
	.description h1{
		margin-right: 10%;
	}

.clean-link{
	text-decoration: none;
}
		.clean-link:visited {
			text-decoration: none;
		}
.roles{
	display: inline-block;
	vertical-align: top;
	background-color: white;
	margin-left: 10%;
	width: 30%;
	min-height: 30%;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
}
		.roles h2{
			margin: 1em;
		}
		.roles p{
			margin: 1.5em;
			margin-top: 0px;
			border-left: solid;
			padding-left: 1.5em;
		}
.roles-desc{
	display: inline-block;
	vertical-align: top;
	background-color: white;
	margin-left: 4%;
	width: 46%;
	min-height: 30%;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
}
		.roles-desc h2{
			margin: 1em;
		}
		.roles-desc p{
			margin: 1.5em;
			margin-top: 0px;
			border-left: solid;
			padding-left: 1.5em;
		}

/*~~~~~~~~~~~~~~~~SAMPOLL~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~SAMPOLL~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~SAMPOLL~~~~~~~~~~~~~~~~~*/
.SD-project-container{
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	background: linear-gradient(#E0E0E0, #E0E0E0, white);
	border-radius: 30px;
}
.SamPoll-image-container{
	width:100%;
	height: 70%;
	margin-top: 2%;
	margin-bottom: 2%;
	display: inline-block;
	vertical-align: top;
	object-fit: contain;
	text-align: center;
}
		#newsfeed{
			display:inline-block;
			vertical-align: top;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			object-fit: contain;
			max-height: 100%;
			max-width:32%;
			border-radius: 10px;
		}
		#polling{
			display:inline-block;
			vertical-align: top;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			object-fit: contain;
			max-height: 100%;
			max-width: 32%;
			border-radius: 10px;
		}
		#profile{
			display:inline-block;
			vertical-align: top;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			object-fit: contain;
			max-height: 100%;
			max-width:32%;
			border-radius: 10px;
		}

/*~~~~~~~~~~~~~~~~~~DISASTER RELIEF~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~DISASTER RELIEF~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~DISASTER RELIEF~~~~~~~~~~~~~~~~~~~*/

/*Project Container*/
.DisasterRelief-image-container{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	display: inline-block;
	vertical-align: top;
	object-fit: contain;
	text-align: center;
}
		#map{
			display:inline-block;
			vertical-align: top;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			object-fit: contain;
			max-width: 90%;
			border-radius: 10px;
		}

/*~~~~~~~~~~~~~~~~~~HOG WASTE MANAGEMENT~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~HOG WASTE MANAGEMENT~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~HOG WASTE MANAGEMENT~~~~~~~~~~~~~~~~~~~*/
.HX-project-container{
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	background: linear-gradient(#EDEDED, #EDEDED, white);
	border-radius: 30px;
}
.HogWasteManagement-image-container{
	width:100%;
	height: 70%;
	margin-top: 2%;
	margin-bottom: 2%;
	display: inline-block;
	vertical-align: top;
	object-fit: contain;
	text-align: center;
}
		.HogWasteManagement-image-platform{
			display: inline-block;
			height: 100%;
			width: 90%;
			background-color: white;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 10px;
		}
		.HogWasteManagement-image-platform:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
				#SystemSketch{
					display:inline-block;
					vertical-align: top;
					max-width: 30%;
					max-height: 90%;
					border-radius: 10px;
					-webkit-filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 0.19) ); 
           			filter: drop-shadow( 5px 5px 5px 5px rgba(0, 0, 0, 0.19) );
           			vertical-align: middle;
				}
				#BirdsEye{
					display:inline-block;
					vertical-align: top;
					max-width: 50%;
					max-height: 90%;
					margin-right: 5%;
					border-radius: 10px;
					-webkit-filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 0.19) ); 
           			filter: drop-shadow( 5px 5px 5px 5px rgba(0, 0, 0, 0.19) );
           			vertical-align: middle;
				}

/*~~~~~~~~~~~~~~~~~~X HOOK~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~X HOOK~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~X HOOK~~~~~~~~~~~~~~~~~~~*/

#XHook{
	display:inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	object-fit: contain;
	max-width: 90%;
	border-radius: 10px;
	margin: 5%;
}

/*~~~~~~~~~~~~~~~~~~FASHION~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~FASHION~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~FASHION~~~~~~~~~~~~~~~~~~~*/
.F-project-container{
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	background: linear-gradient(whitesmoke, whitesmoke, white);
	border-radius: 30px;
}
.RFS-container{
	display: inline-block;
	max-width: 90%;
	max-height: 90%;
	vertical-align: middle;
}
		#RFS{
			display:inline-block;
			height: 100%;
			max-width: 100%;
			margin-left: -5%;
			-webkit-filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 0.19) ); 
			filter: drop-shadow( 5px 5px 5px 5px rgba(0, 0, 0, 0.19) );
		}
.image-pad{
	display: inline-block;
	background-color: white;
	width: 40%;
	height: 50%;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	margin: 5%;
}
		.image-pad:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
.text-pad{
	display: inline-block;
	vertical-align: top;
	background-color: white;
	margin-top: 5%;
	width: 45%;
	height: 50%;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
}
		.text-pad h2{
			margin-left: 5%;
			margin-right: 5%;
			margin-top: 5%;
		}
		.text-pad p{
			margin-left: 5%;
			margin-right: 5%;
		}

/*~~~~~~~~~~~~~~~~~~*/
#Airbnb{
	display:inline-block;
	vertical-align: top;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	object-fit: contain;
	max-height: 100%;
	border-radius: 10px;
}


/*~~~~~~~~~~~~~~~~~~ABOUT~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~ABOUT~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~ABOUT~~~~~~~~~~~~~~~~~~~*/
#Hey{
	display:inline-block;
	margin-top: 10%;
	max-width: 60%;
	margin-left: 10%;
	-webkit-filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 0.19) ); 
	filter: drop-shadow( 5px 5px 5px 5px rgba(0, 0, 0, 0.19) );
}
.about-text{
	display: block;
	margin-top: -9%;
	font-family: 'Noto Sans', sans-serif;
	max-width: 80%;
	padding: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
}

/*~~~~~~~~~~~~~~~~~~CONTACT~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~CONTACT~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~CONTACT~~~~~~~~~~~~~~~~~~~*/

.contact-text{
	display: block;
	font-family: 'Noto Sans', sans-serif;
	max-width: 80%;
	padding: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
}
		.contact-text h1{
			margin-bottom: -1.5%;
		}
		.contact-text h3{
			margin-bottom: 3%;
		}


