
@font-face {
  font-family: Kamikaze3D;
  src: url(./fonts/Kamikaze3DGradient.ttf);
}
@font-face{
  font-family: Digital;
  src: url(./fonts/VT323-Regular.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container1{
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}

    .header1{
      font-family: Kamikaze3D;
      font-size: 150px;
      text-align: center;
      padding-top: 30vh;
      color: white;
    }

    .subtext1{
      font-family: Digital;
      font-size: 30px;
      text-align: center;
      color: white;
    }
    .recent{
      display: block;
      width: 350px;
      font-family: Digital;
      text-align: center;
      margin: auto;
      margin-top: 30vh;
      padding: 5px;
      color: white;
      border-top: solid white 1px;
      border-bottom: solid white 1px;
    }
        .recent:hover{
          background-color: white;
          color: black;
        }
        .recent-link{
          color: inherit;
          text-decoration:none;
        }


.container2{
  display: table;
  margin: 0 auto;
  height: 50vh;

}
    .projects-container{
      display: inline-block;
      width: 40%;
      margin-left: 3%;
      padding-top: 8vh;
      font-family: Digital;
      background-color:white;
      vertical-align: top;
      border-bottom: solid black 1.5px;
      padding-bottom: 20px;
    }
        .projects-header{
          margin-top: 12vh;
          border-bottom: solid black 1.5px;
          padding-bottom: 2px;
        }
        .project{
          display: flex;
        }
            .project:hover{
              background-color: black;
              color: white;
            }
            .subtext2{
              flex: 1;
              margin-left: 5px;
            }
            .subtext3{
              flex: 2;
              margin-left: 10px;
            }
            #proj1{
              padding-top: 5px;
              margin-top: 2vh;
              padding-bottom: 5px;
            }
            #proj2{
              padding-top: 5px;
              padding-bottom: 5px;
            }
            #proj3{
              padding-top: 5px;
              padding-bottom: 5px;
            }
            #proj4{
              padding-top: 5px;
              padding-bottom: 5px;
            }
            #proj5{
              padding-top: 5px;
              padding-bottom: 5px;
            }

    .project-link{
      text-decoration: none;
      color: inherit;
    }
    .preview-container{
      display: inline-block;
      width: 55%;
      height: 600px;
    }
        .preview-default{
          display: block;
          width: 700px;
          height: 700px;
          padding-left: 10px;
        }
            /* #p-default{
              font-family: Kamikaze3D;
              font-size: 100px;
              margin-left: 10%;
              margin-top: 35%;
            } */
        .preview-proj{
          display: none;
          width: 700px;
          height: 700px;
          padding-left: 10px;
        }

.container3{
  display: block;
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
    .about-header{
      display: block;
      width: 700px;
      margin: auto;
      padding-top: 20px;
      margin-top: 50px;
    }
    .about-content{
      width: 80%;
      margin: auto;
    }
    .flex-container{
      display:flex;
      flex-direction: row;
    }
    .about-section{
      display: block;
      flex: 1;
      color: white;
      font-family: Digital;
      padding: 2px;
      padding-right: 20px;
    }
        .about-section-header{
          border-bottom: solid white 1px;
        }

@media only screen and (max-width: 1280px){
    .preview-default{
      width: 600px;
      height: 600px;
      vertical-align: top;
      margin-top: 5vh;
    }
    .preview-proj{
      display: none;
      width: 600px;
      height: 600px;
      vertical-align: top;
      margin-top: 5vh;

    }
    .preview-container{
      height: 600px;
    }
    .about-header{
      width: 600px;
      margin-top: 100px;
    }
}

@media only screen and (min-width: 1400px){
    .preview-default{
      width: 800px;
      height: 800px;
      vertical-align: top;
      margin-top: -10vh;
    }
    .preview-proj{
      display: none;
      width: 800px;
      height: 800px;
      vertical-align: top;
      margin-top: -10vh;
    }
    .preview-container{
      display: inline-block;
      width: 57%;
      height: 650px;
    }
    .about-header{
      display: block;
      width: 800px;
      margin-top: 20px;
    }
    .about-content{
      width: 60%;
      margin: auto;
    }
}
